{% extends 'base.html' %}

{% block title %}
OBLEPIXA
{% endblock %}

{% block body %}
   <style>
	body {
		background: #fff url(https://images.unsplash.com/photo-1579988645824-4fd1f795eb10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
		color: #000;
		background-attachment: scroll ;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%
	}
   </style>
        <div class="container">
            <h1>Виктория</h1>
            <h1>ака @the_koheskine</h1>

          <img class="slider__image"
               src="https://sun9-8.userapi.com/impg/5dFjPRdFHKqIMywishJe5G7ihYonHro78uxIqw/JnaSG5srsbw.jpg?size=810x1080&quality=95&sign=c7264100a5fe74eea03a95c2d92655b7&c_uniq_tag=M06F9DxvDzAUKbebBSMwSk7I8GGnjrcNPePhQoMfnBI&type=album"
               style="position: relative; left: 900px;"
               width="480" height="600"
               alt="Image">
          <div class="slider__info">

          </div>
        </div>

{% endblock %}